<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>GAME-超级节点信息</title>
    <link rel="icon" type="image/x-icon" href="/public/assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/assets/css/plugins.css" rel="stylesheet" type="text/css"/>

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/public/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link href="/public/assets/css/components/custom-sweetalert.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="/public/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="/public/plugins/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
</head>
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->

<!--  BEGIN NAVBAR  -->
{% include '../layout/head.html' %}
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <nav id="sidebar">
            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <a href="#forms" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span>驾驶舱</span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="forms" data-parent="#accordionExample">
                        <li>
                            <a href="/node"> 超级节点 </a>
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a href="#components" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle collapsed">
                        <div class="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-box">
                                <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                                <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                <line x1="12" y1="22.08" x2="12" y2="12"></line>
                            </svg>
                            <span>记录管理</span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="components" data-parent="#accordionExample">
                        <li class="active">
                            <a href="/dividend"> 奖励记录 </a>
                        </li>
                        <li>
                            <a href="/vote"> 投票记录 </a>
                        </li>
                    </ul>
                </li>
                <li class="menu md-visible menu-heading">
                    <div class="heading">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-minus">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        <span>Apps</span></div>
                </li>
            </ul>
        </nav>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <!-- 设置周期 -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div id="ftFormArray" class="col-lg-12 layout-spacing ">
                        <div>
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12 pt-5 pb-5 text-center">
                                        <h4>发放周期设置</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="h-100">
                                <form method="post" action="/cycle">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" name="cycle" placeholder="天数"
                                               value="{{rewardTime}}"
                                               autocomplete="off">
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="modal-heading mb-4 mt-2">说明</h4>
                                        <p class="modal-text">1.周期单位为天数;</p>
                                        <p class="modal-text">2.周期设置后开始奖励时间为当前时间加上设置的天数;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i>
                                            取消
                                        </button>
                                        <button type="submit" class="btn btn-primary" id="cycle_submit">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-px-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area text-right split-buttons">
                    <button class="btn btn-info mb-2" id="synchronizeSuperNode">更新超级节点</button>
                    <button class="btn btn-primary mb-2" id="synchronizeCollection">更新投票数据</button>
                    <button class="btn btn-warning mb-2" id="cycle" data-toggle="modal"
                            data-target="#exampleModalCenter">设置发放周期
                    </button>
                </div>
            </div>
            <div class="row layout-top-spacing" id="cancel-row">
                <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div class="table-responsive mb-4 mt-4">
                            <table id="range-search" class="display table table-hover" style="width:100%">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>国家地区</th>
                                    <th>是否激活</th>
                                    <th>得票率</th>
                                    <th>总票数</th>
                                    <th>每天收入</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in list %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.owner }}</td>
                                    <td>0</td>
                                    <td>
                                        {{ "是" if item.is_active == true else "否" }}
                                    </td>
                                    <td>10%</td>
                                    <td>{{item.total_votes}}</td>
                                    <td>0</td>
                                    <td>{{item.update_time}}</td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-sm"
                                                onclick='details("{{ item.id }}")'>
                                            详情
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '../layout/footer.html' %}
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->


<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="/public/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="/public/bootstrap/js/popper.min.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/public/assets/js/app.js"></script>

<script>
    $(document).ready(function () {
        App.init();
    });
</script>
<script src="/public/assets/js/custom.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/plugins/table/datatable/datatables.js"></script>
<script src="/public/layer-v3.1.1/layer/layer.js"></script>
<script src="/public/plugins/sweetalerts/sweetalert2.min.js"></script>
<script src="/public/plugins/sweetalerts/custom-sweetalert.js"></script>
<script>
    /* Custom filtering function which will search data in column four between two values */
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);
            var age = parseFloat(data[3]) || 0; // use data for the age column

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= age && isNaN(max)) ||
                (min <= age && age <= max)) {
                return true;
            }
            return false;
        }
    );
    $(document).ready(function () {
        var table = $('#range-search').DataTable({
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                    "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                },
                "sInfo": "当前是第 _PAGE_ 页 共有 _PAGES_ 页",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "搜索...",
                "sLengthMenu": "条数 :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50, 100],
            "pageLength": 10
        });
        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });
    });

    /**
     * 超级节点信息
     * @param id
     */
    function details(id) {
        layer.open({
            type: 2,
            title: '  ',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '90%'],
            content: '/voters?nodeId=' + id
        });
    }

    /**
     * 同步超级节点信息
     */
    $("#synchronizeSuperNode").click(function () {
        swal({
            title: '超级节点信息正在更新',
            text: '预计在10秒后同步完成,请勿刷新或退出',
            timer: 10000,
            padding: '2em',
            allowEscapeKey: false,//取消ESC关闭
            showLoaderOnConfirm: true,
            onOpen: function () {
                swal.showLoading()
            }
        }).then(function (result) {
            $.ajax({
                method: 'post',
                url: "/synchronizeSuperNode",
                success: function (result) {
                    if (result.code == 200) {
                        const toast = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            padding: '2em'
                        });
                        toast({
                            type: 'success',
                            title: '更新完成',
                            padding: '2em',
                        })
                        setTimeout(function () {
                            location.reload();
                        }, 2000)
                    }
                }
            });
        })
    });

    /**
     * 更新投票数据
     */
    $("#synchronizeCollection").click(function () {
        swal({
            title: '正在同步投票数据',
            text: '预计在30秒后同步完成,请勿刷新或退出',
            timer: 30000,
            padding: '2em',
            allowEscapeKey: false,
            showLoaderOnConfirm: true,
            onOpen: function () {
                swal.showLoading()
            }
        }).then(function (result) {
            $.ajax({
                method: 'post',
                url: "/synchronizeCollection",
                success: function (result) {
                    if (result.code == 200) {
                        const toast = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            padding: '2em'
                        });
                        toast({
                            type: 'success',
                            title: '同步完成',
                            padding: '2em',
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000)
                    }
                }
            });
        })
    });

</script>
<!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>